
.ulNavbar{
    margin: 0;
    padding: 0;
}

.cartNotification{
    background-color: rgb(76, 0, 255);
    text-align: center;
    border-radius: 1rem;
}

.linkNavegacion {
    text-decoration: none;
    color: white
}

.logoSize {
    width: 6rem;
}

.background {
    background-image: linear-gradient(to right top, #000000, #181818, #282828, #3a3a3a, #4c4c4c), url("../../assets/backgroundheader.jpg");
};
